<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TuneCore</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron clearfix">
    <h4 class="page-header">Search songs</h4>
    <div class="row">

      <%= form_tag('/songs/search', method: 'GET', remote: true, :id => "search-songs-form", :class => 'form-horizontal')  do %>

          <div class="">
            <div class="form-group" id="">
              <%= label_tag "Song title", nil, :class => "col-sm-2 control-label", :for => "song_title" %>
              <div class="col-sm-10">
                <%= text_field_tag "search[songs_title]", nil, :size => 40, :class => "form-control pull-left", :placeholder => "Get back" %>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="form-group" id="">
              <%= label_tag "Artist", nil, :class => "col-sm-2 control-label", :for => "artist_name" %>
              <div class="col-sm-10">
                <%= text_field_tag "search[artists_name]", nil, :size => 40, :class => "form-control pull-left", :placeholder => "The Beatles" %>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="form-group" id="">
              <%= label_tag "Album", nil, :class => "col-sm-2 control-label", :for => "album_title" %>
              <div class="col-sm-10">
                <%= text_field_tag "search[albums_title]", nil, :size => 40, :class => "form-control pull-left", :placeholder => "Let it be" %>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="row buttons">  
              <div class="col-sm-10 text-right">
                <%= submit_tag "Search", :class => "btn btn-primary btn-default", :id => "submit-search" %>
              </div>
              <div class="col-sm-2 text-right">
                <button class='btn btn-secondary btn-default' id='clear-form-btn' >
                  Clear
                </button>
              </div>
            </div>       
          </div>
      <% end %>
      <br>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Song</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody id="search-results">
        <%= render 'search_result_table_row' %>
      </tbody>
    </table>
  </div>

</div> <!-- /container -->
